body {
  color: #e0e4e7;
  padding-bottom: 5rem;
  background-color: black;
}

/*Header section*/
.video-background {
  width: 100%;
  height: 60vh;
  background-color: rgba(0, 0, 0, 0.0);
}

.video-wrap {
  clip: rect(0, auto, auto, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#video {
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  will-change: transform;
  z-index: -1000;
}

video {
  position: relative;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  transform: translateX(-50%) translateY(-50%);
  background: url('') no-repeat;
  background-size: cover;
  transition: 1s opacity;
}

.header-action {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.btn {
  width: 10rem;
  height: 3rem;
  background: rgb(0, 0, 0, 0.2);
  color: #e0e4e7;
  text-decoration: none;
}

@media (min-width: 768px) {
  .video-background {
    width: 100%;
    height: 75vh;
    background-color: rgba(0, 0, 0, 0.0);
  }

  .video-wrap {
    clip: rect(0, auto, auto, 0);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  #video {
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    will-change: transform;
    z-index: -1000;
  }

  video {
    position: relative;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
    background: url('') no-repeat;
    background-size: cover;
    transition: 1s opacity;
  }

  .header-action {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
  }

  .btn {
    width: 10rem;
    height: 3rem;
    background: rgb(0, 0, 0, 0.2);
    color: #e0e4e7;
    text-decoration: none;
  }
}

/*End of header section*/

/*Navbar*/
.logo-navbar {
  background: rgb(0, 0, 0, 0.0);
  text-align: center;
  height: 25vh;
}

.navbar-brand img {
  height: 12rem;
  padding: 0%;
}

.navbar {
  width: 100%;
  position: relative;
  bottom: 0;
  height: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.2);
}

.nav-link {
  padding: 1rem;
  text-decoration: none;
  color: #e0e4e7;
}

@media (min-width: 768px) {
  .navbar {
    width: 100%;
    position: fixed;
    bottom: 0;
    height: 5rem;
    background-color: aqua;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
  }

  .nav-link {
    padding: 1rem;
    text-decoration: none;
    color: #e0e4e7;
  }
}

/*End of navbar*/

/*Release section*/
.release {
  background-color: black;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 45rem;
}

.card-body span {
  font-size: 50px;
  margin: 20px;
  color: #e0e4e7;
}

.card-text {
  width: 90%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  text-align: center;
}

.card-text h1 {
  text-align: center;
}

.card-img-top {
  width: 20rem;
  height: 20rem;
}

@media (min-width: 768px) {
  .release {
    background-color: black;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }

  .card {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 45rem;
  }

  .card-body span {
    font-size: 50px;
    margin: 20px;
    color: #e0e4e7;
  }

  .card-body {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .card-text {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .card-img-top {
    width: 25rem;
    height: 25rem;
  }
}

/*End of release section*/

/*About section*/
.about {
  width: 100%;
  height: 45rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-image: url(../image/aerial-view-of-amazing-scenery-with-light-beams-shining-through-foggy-dark-forest-with-pine-trees-at-autumn-sunrise-beautiful-wild-woodland-at-dawn.jpg);
  background-size: cover;
}

.about h1 {
  margin-top: 2rem;
}

.about p {
  width: 90%;
  height: fit-content;
}

.about img {
  width: 90%;
}

@media (min-width: 768px) {
  .about {
    width: 100%;
    height: 60rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-image: url(../image/aerial-view-of-amazing-scenery-with-light-beams-shining-through-foggy-dark-forest-with-pine-trees-at-autumn-sunrise-beautiful-wild-woodland-at-dawn.jpg);
    background-size: cover;
  }

  .about h1 {
    margin-top: 2rem;
  }

  .about img {
    width: 80%;
  }

  .about p {
    width: 70%;
  }
}

/*End of about section*/

/*Contact section*/
.contact {
  width: 100%;
  height: 40rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.contact h1 {
  padding: 1rem;
}

.contact img {
  width: 90%;
  margin-bottom: 2rem;
}

.contact span {
  display: block;
  margin: 2rem;
  font-size: 4rem;
}

@media (min-width: 768px) {
  .contact {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .contact-links {
    display: flex;
  }

  .contact img {
    height: 18rem;
    width: 39rem;
    margin-bottom: 2rem;
  }

  .contact span {
    margin: 1rem;
    font-size: 3rem;
    display: flex;
    flex-direction: row;
  }
}

/*End of contact section*/

/*Footer*/
/*End of footer*/